/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 8, 2025, 11:54:28 PM
    Author     : ductrungnguyen
*/

.register-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.register-container button {
    padding: 10px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
}

.register-container button:hover {
    background-color: #45a049; /* Darker green on hover */
    border-bottom: #ffffff;
}